/* .wrapper{
   background-color: black;
   width: 200px;
   height: 300px;
} */









button {
   --b: 3px;   /* border thickness */
   --s: .15em; /* size of the corner */
   --c: #113438;
   
   padding: calc(.05em + var(--s)) calc(.3em + var(--s));
   color: var(--c);
   --_p: var(--s);
   background:
     conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
     var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
   transition: .3s linear, color 0s, background-color 0s;
   outline: var(--b) solid #0000;
   outline-offset: .2em;
 }
 button:hover,
 button:focus-visible{
   --_p: 0px;
   outline-color: var(--c);
   outline-offset: .05em;
 }
 button:active {
   background: var(--c);
   color: #fff;
 }
 
 body {
   padding-top: 250px;
   margin: 0;
   text-align: center;
   gap: 70px;
   place-content: center;
   background: #e2eff8;
 }
 button {
   font-weight: bold;
   font-size: 4rem;
   cursor: pointer;
   border: none;
   margin: .1em;
 }
 .system{
   margin-bottom: 20px; 
 }
 .microsoft{
   margin-right: 190px;
   height: 160px;
   background-color: rgb(64, 81, 147);
   border-radius: 50%;
   box-shadow: 0 0 38px rgb(64, 81, 147); 
 }
 .facebook{
   width: 160px;
   height: 160px;
   margin-left: 15px;
   border-radius: 50%;
   box-shadow: 0 0 38px rgb(59, 86, 196); 
 }
 .microsoft{
   transition: all 1s ease;
 }
 .microsoft:hover{
   transform: scale(1.2); 
 }
 /***********/
 .facebook{
   transition: all 1s ease;
 }
 .facebook:hover{
   transform: scale(1.2); 
 }